[Unit]
Description=Wake-on-LAN Server
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/python3 /usr/bin/wol.py

[Install]
WantedBy=multi-user.target
